<!DOCTYPE html>
<html xmlnx="http://w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8" />
    <title>My Facebook</title>

    <link type="text/css" rel="stylesheet"
          href="../../static/css/style.css"
          th:href="@{/css/style.css}"/>
</head>
<body>
<form th:action="@{|/addcomment/${post.id}|}" method="post" th:object="${commentToInsert}">
    <textarea th:field="*{text}" ></textarea>
    <input type="hidden" th:value="${post.id}" name="postId" />
    <p><button type="submit">Send</button></p>
</form>
<a href="../index.html">Homepage</a>

</body>
</html>