html, body {
    margin: 0;
    padding-top: 10px;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #1d2129;
    background: #e9ebee;
}


html {
    margin-left: 36%;
    margin-right: 36%;
    margin-top: 2%;
}




/*.container {*/
/*    width: 300%;*/
/*    padding-right: 15px;*/
/*    padding-left: 15px;*/
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*}*/

.login-card {
    width:80%;
    padding: 10px 0;
    margin-top: 40%;
    margin-left: auto;
    margin-right: auto;
    border: black;
}

.card {
    /*border: 0.5px solid grey;*/
    background: white;
    padding: 20px 20px;
    border-radius: 2%;
}

#loginButon, #registerButton {
    height: 30px;
    margin-top: 8px;
    background: #4267b2;
}

#registerButton {
    background: white;
    color: black;
}

#loginInput, #passwordInput {
    padding-left: 5px;
}

#password-icon {
    padding-left:2.85px;
    padding-right: 2.85px;
}

#username-icon {
     padding-left:2.45px;
     padding-right: 2.45px;
}

#email-icon {
    padding-left:1.3px;
    padding-right: 1.3px;
}

#clock-icon {
    padding-left:2.5px;
    padding-right: 2.5px;
}

.admin-panel {
    position: absolute;
    background: white;
    padding: 10px 10px;
    /*width: 40%;*/
    horiz-align: center;
}

/*#main-container {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    !*horiz-align: center;*!*/
/*}*/

.admin-panel h2 {
    text-align: center;
}

#admin-table {
    /*width:80%;*/
}

#admin-table thead {
    text-align: center;
    vertical-align: text-top;
}

#admin-table th {
    padding:5px 5px;
    vertical-align: middle;
}



.success-page {
    text-align: center;
    margin-top: 60%;
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 5px;
    margin-bottom: 10px;
}

.h6, h6 {
    font-size: 10px;
}

.nav {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    position: absolute;
    right: 36%;
    top: 50%;
    transform: translate(0, -50%);
    -ms-transform: translateY(-50%);

}

.navbar-nav>li>a {
     padding-top: 0px;
     padding-bottom: 0px;
    font-weight: bold;
}

.navbar {
    min-height: 10px;
}

.navbar-blue {
    height: 43px;
    border-width: 0;
    background-color: #4267b2;
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    top: 0;
    position: fixed;
    width: inherit;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 10px 10px;
    font-size: 18px;
}

.logo {
    display: block;
    background-color: #fff;
    color: #3B5999;
    height: 90%;
    margin: 1px;
    margin-left: 36%;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 1px;
    border-radius: 2px;
}

.well {
    padding: 0;
}

.well .btn {
    margin-bottom: 5px;
    margin-left: 5px;
}

.panel textarea, .well textarea, textarea.form-control {
    resize: none;
    height: 100px;
}


.form-control {
    padding: 2px 5px;
}

.form-group {
    padding: 0%;
    margin: 0;
    margin-top: 6px;
}

.well-form-header {
    padding: 0;
    left: 0;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.commentActions {
    padding-left: 70px;
}

.posterImage {
    width:45px;
    margin-right:5px;
    height:100%;
    float:left;
}


.posterImage img {
    width:100%;
    border-radius:50%;
}

.commentInput {
     background-color: #f2f3f5;
     border: 1px solid #ccd0d5;
     border-radius: 16px;
     width:85%;
    margin-left: 5px;
    height:40px;
    padding: 2px 6px;
}

.input-group {
    margin-rigth: 0;
    width: 100%;
    margin-bottom:15px;
}

.bodyWithActions {
    margin-top: 0;
    margin-bottom: 10px;
}

.bodyWithActions .media-body {
    font-size: 13px;
}

.pull-left img {
    border-radius:50%;
    margin-right: 5px;
}

.single-post h4 {
    color: #385898;
}


.media-body {
    background-color: #f2f3f5;
    border-radius: 25px;
    padding: 2% 4%;
}

.btn {
    padding: 2px 8px;
    margin-top: 8px;
    margin-right: 5px;
}


.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-heading {
    padding: 8px 15px;
    height: 60px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-body {
    padding: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

h1, h2, h3 {
    font-weight: 800;
}

.h4, h4 {
    padding: 2px;
    margin-top: 4px;
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: bold;
}

.col-sm {
    text-align: center;
    position: center;
}


a {
    color: #222222;
}


hr {
    border-color: #dedede;
}

.wrapper, .row {
    margin-left: 0;
    margin-right: 0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom: 1;
}


.full {
    padding-top: 70px;
}

.box {
    bottom: 0; /* increase for footer use */
    position: center;
    background-color: #444444;
}

.divider {
    margin-top: 32px;
}


.navbar-blue li > a, .navbar-toggle {
    color: #efefef;
}


.navbar-blue .dropdown-menu li > a {
    padding-left: 30px;
}

.navbar-blue li > a:hover, .navbar-blue li > a:focus, .navbar-blue .open, .navbar-blue .open > a, .navbar-blue .open > a:hover, .navbar-blue .open > a:focus {
    background-color: #4267b2;

}



.commenterName {
    margin-right: 0.2em;
    font-weight: bold;
    color: #385898;
}

.commentDate {
    font-size: 10px;
}

button {
    font-family: inherit;
    font-size: 10px;
    padding: 0px 2px;
    border-radius: 5px;
    background: #e9eaed;
}

#main {
    background-color: #e9eaed;
    padding-left: 0;
    padding-right: 0;
}

#main .img-circle {
    margin-top: 18px;
    height: 70px;
    width: 70px;
}

#sidebar {
    padding: 0px;
    padding-top: 15px;
}

#sidebar, #sidebar a, #sidebar-footer a {
    color: #ffffff;
    background-color: transparent;
    text-shadow: 0 0 2px #000000;
    padding-left: 5px;
}

