<!DOCTYPE html>
<html xmlnx="http://w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8" />
    <title>My Facebook</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link type="text/css" rel="stylesheet"
          href="../static/css/style.css"
          th:href="@{/css/style.css}"/>

</head>
<body>
<!--    <div id="main-container">-->
        <div class="admin-panel">
            <h2>Administration panel</h2>
            <table class="table table-bordered" id="admin-table">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Status</th>
                    <th>Blocked from</th>
                    <th>Blocked until</th>
                    <th>Action</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="user : ${allUsers}">
                    <form th:action="@{|/changestatus/${user.id}|}" method="post">
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.lockDate == null}? 'ACTIVE' : 'BLOCKED'"></td>
                        <td th:text="${user.lockDate == null}? null : ${#dates.format(user.lockDate, 'dd-MM-yyyy HH:mm')}"></td>
                        <td th:text="${user.lockDate == null}? null : ${#dates.format(user.unlockDate, 'dd-MM-yyyy HH:mm')}"></td>
                        <td>
                            <button class="btn btn-danger" type="submit" th:if="${user.lockDate} == null" name="action" value="block">Block</button>
                            <button class="btn btn-danger" type="submit" th:unless="${user.lockDate} == null"  name="action" value="unblock">Unblock</button>
                        </td>
                    </form>
                </tr>

                </tbody>

            </table>
            <form th:action="@{/index}">
                <div class="form-group" >
                    <button type="submit" class="btn btn-primary btn-block" id="loginButon">Back</button>
                </div>
            </form>
        </div>
<!--    </div>-->

</body>
</html>