<!DOCTYPE html>
<html xmlnx="http://w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8" />
    <title>My Facebook</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link type="text/css" rel="stylesheet"
          href="../static/css/style.css"
          th:href="@{/css/style.css}"/>
</head>
<body>

    <div class="login-card">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center mb-4 mt-1">Edit comment</h3>
                <hr/>

                <form th:action="@{|/changecomment/${commentToChange}|}" method="put" th:object="${comment}">
                    <textarea class="form-control" type="text" th:field="${comment.text}" />
                    <button type="submit" class="btn btn-primary btn-block">Edit</button>
                </form>

            </div>
        </div>
    </div>

</body>
</html>