<!DOCTYPE html>
<html xmlnx="http://w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <meta charset="UTF-8"/>
    <title>My Facebook</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link type="text/css" rel="stylesheet"
          href="../static/css/style.css"
          th:href="@{/css/style.css}"/>

    <script src="../static/js/script.js" th:src="@{/js/script.js}"></script>


</head>

<body>


    <div>
        <div>
             <div class="navbar navbar-blue navbar-fixed-top">

                <a th:href="@{/index}" class="navbar-brand logo">F</a>

                <nav class="collapse navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a sec:authorize="hasRole('ADMIN')" th:href="@{/adminpanel}" method="get">Administrator
                            panel</a></li>
                        <li><a th:href="@{/logout}">Logout</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    <!--    POST INPUT-->

        <div>
            <div class="well">
                <form class="form-horizontal" role="form" th:action="@{/addpost}" method="post" th:object="${postToInsert}">
                    <h4>What's New</h4>
                    <div class="form-group">
                                <textarea id="postInput" class="form-control" placeholder="Update your status" th:field="*{text}"
                                          name="test" ></textarea>

                        <button class="btn btn-primary pull-left" type="submit" onclick="return emptyPost()">Post</button>
                        <button class="btn btn-primary pull-left" type="reset">Clear</button>
                    </div>

                </form>
            </div>

        <!--        POSTS-->
        <div class="posts">
            <div class="panel panel-default" th:each="post : ${allPosts}">
                <div class="single-post">
                    <div class="panel-heading">
                        <div class="posterImage">
                            <img src="https://www.talentacademy.org/img/teachers-thumbnail/6Ut2135mUCBzii5fs1hN2U9aspvar5luAJMQFghE.png.png"/>
                        </div>
                        <a th:href="@{|/showuser/${post.user.id}|}">
<!--                            @{|/changecomment/${comment.id}|}"-->
                            <h4 th:text="${post.user.username}">Username</h4>
                        </a>
<!--                        <h4 th:text="${post.user.username}">Username</h4>-->
                        <h6 th:text="${#dates.format(post.createDate, 'dd-MM-yyyy HH:mm')}">26-08-2019</h6>
                    </div>
                    <div class="panel-body">
                        <form th:action="@{|/changepost/${post.id}|}" method="post">
                            <div class="postText">
                                <p th:text="${post.text}">'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                                    turpis sem, dictum id bibendum eget, malesuada ut massa. Ut scel
                                    erisque nulla sed luctus dapibus. Nulla sit amet mi vitae purus sol
                                    licitudin venenatis. Praesent et sem urna. Integer vitae lectus nis
                                    l. Fusce sapien ante, tristique efficitur lorem et, laoreet ornare lib
                                    ero. Nam fringilla leo orci. Vivamus semper quam nunc, sed ornare magna dignissim
                                    sed. Etiam interdum justo quis risus
                                    efficitur dictum. Nunc ut pulvinar quam. N
                                    unc mollis, est a dapibus dignissim, eros elit tempor diam, eu tempus quam felis eu
                                    velit.
                                </p>
                                <div class="postActions" th:if="${@thymeleafUtils.isAuthorOrAdmin(post.user)}" >
                                    <hr/>
                                    <p>
                                        <input type="hidden" name="text" th:value="${post.text}"/>
                                        <button th:if="${@thymeleafUtils.isAuthorOrAdmin(post.user)}" type="submit"
                                                value="delete"
                                                name="action">Delete
                                        </button>
                                        <button th:if="${@thymeleafUtils.isAuthorOrAdmin(post.user)}" type="submit"
                                                value="modify"
                                                name="action">Edit
                                        </button>

                                    </p>
                                </div>

                            </div>
                        </form>

                        <hr/>

                        <!--                        COMMENT WINDOW-->
                        <div class="input-group">
                            <div class="pull-left">
                                <img src="http://placekitten.com/45/45"/>
                            </div>
                            <form th:action="@{|/addcomment/${post.id}|}" method="post" th:object="${commentToInsert}">
                                <input id="commentInput" class="commentInput" type="text" placeholder="Add a comment.." th:field="*{text}"  th:required="required" pattern="\S+.*" />
                                <input type="hidden" th:value="${post.id}" name="postId"/>
                                <p>
                                    <button type="submit" style="display: none">Send</button>
                                </p>
                            </form>

                            <!--                            COMMENTS -->
                        </div>
<!--                        <hr th:if="${post.comments} != null" />-->
                        <div th:each="comment : ${post.comments}">
                            <form th:action="@{|/changecomment/${comment.id}|}" method="post" th:object="${comment}">
                                <div class="comment">
                                    <div class="pull-left">
                                        <img src="http://placekitten.com/45/45"/>
                                    </div>
                                    <div class="bodyWithActions">
                                        <div>
                                            <div class="media-body">
                                                <span class="commenterName"
                                                      th:text="${comment.user.username}">Username</span>
                                                <span class="commentText" th:text="${comment.text}"  >Hello this is a test comment and this comment is
                                            particularly very long and it goes on and on and on</span>
                                            </div>
                                            <!--                                    COMMENT ACTIONS -->
                                            <div class="commentActions">
                                                <span class="commentDate" th:text="${#dates.format(comment.createDate, 'dd-MM-yyyy HH:mm')}">27-08-2019</span>
                                                <span>
<!--                                                <input type="hidden" name="text" th:value="${comment.text}"/>-->
                                                <button th:if="${@thymeleafUtils.isAuthorOrAdmin(comment.user)}" type="submit" value="delete" name="action">Delete</button>
                                                <button th:if="${@thymeleafUtils.isAuthorOrAdmin(comment.user)}" type="submit" value="modify" name="action">Edit</button>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div sec:authorize="hasRole('ADMIN')"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
</body>
</html>
