<!DOCTYPE html>
<html xmlnx="http://w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8"/>
    <title>My Facebook</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link type="text/css" rel="stylesheet"
          href="../static/css/style.css"
          th:href="@{/css/style.css}"/>
</head>

<body>

        <div class="login-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center mb-4 mt-1">Sign in</h4>
                    <hr/>
                    <p class="text-danger text-center" th:if="${param.error}"
                       th:text="'Username or password is incorrect'"></p>
                    <p class="text-success text-center"></p>
                    <form th:action="@{/login-process}" method="post">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">

                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input class="form-control" id="loginInput" placeholder="Login" type="text" th:required="required"
                                       name="username"/>
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input class="form-control" id="passwordInput" placeholder="******" type="password" th:required="required"
                                       name="password"/>
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" id="loginButon">Login</button>
                        </div>
                    </form>
                    <form th:action="@{/registeruser}">
                        <button type="submit" class="btn btn-primary btn-block" id="registerButton" >Register</button>
                    </form>
                </div>
            </div>
        </div>
</body>
</html>
