<!DOCTYPE html>
<html xmlnx="http://w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Register</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link type="text/css" rel="stylesheet"
          href="../static/css/style.css"
          th:href="@{/css/style.css}"/>
</head>
<body>

    <div class="login-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center mb-4 mt-1">Register</h4>
                <hr/>
                <p class="text-danger text-center" th:if="${param.error}"
                   th:text="'Username or password is incorrect'"></p>
                <p class="text-success text-center"></p>
                <form th:action="@{/registeruser}" method="post">

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user" id="username-icon"></i></span>
                            </div>
                            <input class="form-control" name="username" id="loginInput" type="text" th:field="${userToInsert.username}" th:required="required" placeholder="Username" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock" id="password-icon"></i> </span>
                            </div>
                            <input class="form-control" type="password" name="password" th:field="${userToInsert.password}" th:required="required" placeholder="**********" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user-plus"></i></span>
                            </div>
                            <input class="form-control" type="text" th:field="${userToInsert.userDetails.name}" th:required="required" placeholder="Name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-envelope" id="email-icon"></i></span>
                            </div>
                            <input class="form-control" type="text" th:field="${userToInsert.userDetails.email}" th:required="required" placeholder="Email" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-clock-o" id="clock-icon"></i></span>
                            </div>
                            <input class="form-control" type="date" th:field="${userToInsert.userDetails.birthDate}" th:required="required" placeholder="Birthdate" />
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block" id="loginButon">Register</button>
                    </div>
                </form>
                <form th:action="@{/index}">
                    <div class="form-group" >
                        <button type="submit" class="btn btn-primary btn-block" id="registerButton">Back</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>